<div class="mt-4 mx-4">
    <app-card caption="Movie List">
        <table class="w-full md:text-sm text-xs">
            <thead>
                <tr
                    class="font-semibold tracking-wide text-left text-gray-500 uppercase border-gray-700 text-gray-400 bg-gray-800">
                    <th class="px-4 py-3 text-center">ID</th>
                    <th class="px-4 py-3 text-center">
                        <span>Year</span>
                        <div class="w-full">
                            <select name="year" [(ngModel)]="filter.year" (ngModelChange)="onChangeYear()"
                                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-white">
                                <option [value]="null">All years</option>
                                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                    </th>
                    <th class="px-4 py-3 text-center">Title</th>
                    <th class="px-4 py-3 text-center">
                        <span>Winner</span>
                        <div class="w-full">
                            <select name="winner" [(ngModel)]="filter.winner" (ngModelChange)="onChangeWinner()"
                                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-white">
                                <option [value]="null">All</option>
                                <option [value]="true">Yes</option>
                                <option [value]="false">No</option>
                            </select>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="divide-gray-700 bg-gray-800">
                <tr *ngIf="movies.length === 0">
                    <td colspan="4" class="px-4 py-3 text-center">No data avaliable</td>
                </tr>
                <tr *ngFor="let movie of movies" class="bg-gray-800 hover:bg-gray-100 hover:bg-gray-900 text-gray-400">
                    <td class="px-4 py-3">
                        {{ movie.id }}
                    </td>
                    <td class="px-4 py-3">
                        {{ movie.year }}
                    </td>
                    <td class="px-4 py-3">
                        {{ movie.title }}
                    </td>
                    <td class="px-4 py-3">
                        {{ movie.winner ? 'Yes' : 'No' }}
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination *ngIf="movies.length > 0" (onPageChange)="loadMovies($event)" [totalRegisters]="pagination.totalRegisters"
            [currentPage]="pagination.currentPage" [perPage]="pagination.perPage" [totalPages]="pagination.totalPages">
        </app-pagination>
    </app-card>
</div>